.about-author{
display: flex;
margin: 80px 104px;
max-width: 100%;

}
.about-author__image{
    border-radius: 100%;
    max-width: 464px;
    max-height: 464px;
    width: 30vw;
    height: 30vw;
}
.about-author__text-area{
    margin: 51px 56px;
}
.about-author__title{
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    max-width: 90vw;
}
.about-author__text{
    margin: 0;
    margin-bottom: 10px;
    max-width: 600px;
    width: auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}



@media screen and (max-width: 1100px){
    .about-author{
        margin: 40px;
    }
    .about-author__image{
        width: 232px;
        height: 232px;
        margin-top: 21px;
    }
    .about-author__text-area{
        margin: 0;
        margin-left: 32px;
    }
    .about-author__title{
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 40px;
    }
    .about-author__text{
        max-width: 424px;
    }
}

@media screen and (max-width: 540px){
    .about-author{
        display: block;
        margin: 0;
        width: 95%;
        margin-top: 8px;
    }
    .about-author__image{
        width: 90%;
        height: 90vw;
        margin: 24px;

    }
    .about-author__text-area{
        margin: 0;
        width: 100%;
    }
    .about-author__title{
        width: 90%;
        margin: 0px 16px;
    }
    .about-author__text{
        width: 95%;
        margin: 16px 16px 24px;
    }
}