.card{
    width: 400px;
    height: 576px;
    position: relative;
    border-radius: 10px;
    margin: 8px 16px;
    background-color: #fff;
}
.card__list{
    background-color: #f5f6f7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.card__list-title{
    margin: 80px 104px 0;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    width: 100vw;
}
.card__container{
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    margin:64px auto ;
    padding: 0;
}
.card__list-button{
    border-radius: 80px;
    background-color: #fff;
    width: 288px;
    height: 64px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto 80px;
}

.card__save-button{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 2;
    background-color: #fff;
    background-image: url(../../images/empty-bookmark.png);
    background-position: center;
    background-repeat: no-repeat;
}
.card__save-button:hover{
    background-image: url(../../images/hover-bookmark.png);
}
.card__save-button:active{
    background-image: url(../../images/filled-bookmark.png);
}

.card__sign-in-notice{
    background-color: #fff;
    position: absolute;
    top: 24px;
    right: 69px;
    z-index: 2;
    width: 182px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
}

.card__trash-button{
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 2;
    background-image: url(../../images/trash.png);
    background-position: center;
    background-repeat: no-repeat;
}
.card__trash-button:hover{
    background-image: url(../../images/trash-active.png);
}

.card__keyword-button{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    top: 24px;
    left: 24px;
    border-radius: 10px;
    height: 40px;
    padding: 0 22px;
    text-transform: capitalize;
}
.card__element_hidden{
    display: none;
}
.card__source{
    display: inline-block;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #B6BCBF;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}
.card__source-text{
    width: 352px;
    margin: 2px 24px 24px;
}
.card__image{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 272px;
    border-radius: 10px;
}
.card__date{
    color:#B6BCBF;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px 24px 12px;
}
.card__title{
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #1A1B22;
    margin: 0 24px;
    text-overflow: ellipsis;
}
.card__text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    margin: 16px auto;
    overflow: hidden;
    word-wrap: break-word;
    width: 352px;
    height: 110px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
@media screen and (max-width:1100px){
    .card{
        width: 224px;
        height: 414px;
        margin: 8px;
    }
    .card__list-title{
        margin: 40px 40px 0;
        font-size: 34px;
        line-height: 34px;
    }
    .card__container{
        margin: 32px auto;
    }
    .card__list-button{
        margin: 0 auto 40px;
        width: 240px;
        height: 56px;
    }
    .card__image{
        height: 150px;
    }
    .card__title{
        font-size: 22px;
        line-height: 24px;
    }
    .card__text{
        -webkit-line-clamp: 4;
        width: 192px;
        height: 88px;
    }
    .card__source-text{
        width: 192px;
        margin: 0 16px;
    }
    .card__sign-in-notice{
        max-width:182px ;
        width: 65%;
    }
}
@media screen and (max-width:540px){
    .card{
        width: 90%;
        margin: 10px auto;
        height: 446px;
    }
    .card__list-title{
        margin: 32px 16px 48px;
        font-size: 30px;
    }
    .card__container{
        margin: 0;
    }
    .card__list-button{
        width: 90%;
        margin: 5px auto 32px;
    }
    .card__date{
        width: 90%;
        margin: 16px auto 10px;
    }
    .card__title{
        width: 90%;
        margin: 0 auto 14px;
    }
    .card__image{
        height: 196px;
    }
    .card__text{
        width: 90%;
    }
    .card__source-text{
        width: 90%;
        margin: 8px auto;
    }
}